# Base de dados
DB_ROOT_PASSWORD=troque-esta-senha
DB_NAME=repositorio-backend
DB_USER=repositorio_backend_user
DB_PASSWORD=troque-esta-senha-tambem

# Portas da aplicacao 
PORT=3000
HOST_PORT=3000

#Portas da base de dados 
DB_PORT=3306
DB_HOST_PORT=3307

# Auth
JWT_SECRET=defina-um-segredo-forte-aqui

# CORS
FRONTEND_URL=http://localhost:5173

# Criptografia
ENCRYPTION_KEY=defina-uma-chave-segura-aqui

# Utilizador ADMIN criado pelo seed
ADMIN_NOME=Administrador
ADMIN_EMAIL=admin@exemplo.com
ADMIN_SENHA=defina-uma-senha-forte
ADMIN_NUMERO=000000000
ADMIN_CARGO=Administrador
ADMIN_DEPARTAMENTO=TI